In [3]:
# Python expression

print("Python and Data Science")
print("mahfujul Karim")

Python and Data Science
mahfujul Karim

In [4]:
# Python Identation

print("Python and Data Science")
print("Mahfujul Karim")

     print("Khulna University")

IndentationError: unexpected indent (948263254.py, line 6)

In [ ]:
# Python commments

print("Hello, World!")  # This is a comment

"""
This is a comment written in more than just one line
"""

print("Hello, World")

Hello, World!
Hello, World

In [ ]:
# Variable

x=2
s="mahfuj"
f=2.55

print(x)
print(s)
print(f)

2
mahfuj
2.55

In [ ]:
# Arithmetic Expression

result=2+3*4
print(result)

14

In [ ]:
# Funciton call

import math
y=math.sqrt(25)
print(y)

5.0

In [ ]:
# Python Statement(CS:(if-elif-else))

if x>0:
    print("Positive")
elif x==0:
    print("Zero")
else:
    print("Negative")

Positive

In [ ]:
# loop statement(for and while)

for i in range(5):
    print(i)

0
1
2
3
4

In [ ]:
# Functional statement

def greet(name):
    print("Hello,"+name+"!")
    
greet("Alice")

Hello,Alice!

In [ ]:
# Back to print

x="Python"
y="is"
z="awesome"

print(x+y+z)
print(x,y,z)

Pythonisawesome
Python is awesome

In [ ]:
print("This is class number: %d" %1)

print("Geeks : %2d, Portal : %5.2f" % (1, 45000.333)) 
 
print("Total students : %3d, Boys : %2d" % (240, 120))   # print integer value
 
print("%7.3o" % (25))   # print octal value
 
print("%10.3E" % (356.08977))   # print exponential value

T = 55.25

print ("I have "+ str(T) + " take")

This is class number: 1
Geeks :  1, Portal : 45000.33
Total students : 240, Boys : 120
    031
 3.561E+02
I have 55.25 take

In [ ]:
print('I love {} for "{}!"'.format('Geeks', 'Geeks'))
 
# using format() method and referring a position of the object
print('{0} and {1}'.format('Geeks', 'Portal'))
 
print('{1} and {0}'.format('Geeks', 'Portal'))

I love Geeks for "Geeks!"
Geeks and Portal
Portal and Geeks

In [ ]:
# combining positional and keyword arguments
print('Number one portal is {0}, {1}, and {other}.'
     .format('Geeks', 55.55, other ='Geeks'))
 
# using format() method with number 
print("Geeks :{0:2d}, Portal :{1:8.2f}".
      format(12, 00.546))
 
# Changing positional argument
print("Second argument: {1:3d}, first one: {0:7.2f}".
      format(47.42, 11))
 
print("Geeks: {a:5d},  Portal: {p:8.2f}".
     format(a = 453, p = 59.058))

Number one portal is Geeks, 55.55, and Geeks.
Geeks :12, Portal :    0.55
Second argument:  11, first one:   47.42
Geeks:   453,  Portal:    59.06

In [ ]:
# Assign multiple values
x,y,z="Orange", "Banana","Cherry"

print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [ ]:
fruits=["apple","banana","cherry"]
x,y,z=fruits

print(x)
print(y)
print(z)

apple
banana
cherry

In [5]:
# User input

username=input("Enter username:")
print("Username is :"+ username)

Username is :mahfujul

In [6]:
# Scope of vairables

x="awesome"

def myfunc():
    x="fantastic"
    print("Python is"+x)
    
myfunc()

print("Python is "+ x)

Python isfantastic
Python is awesome

In [7]:
def myfunc():
    global x
    x="fantastic"
    
myfunc()

print("Python is "+x)

Python is fantastic

In [8]:
# Try out

#q1: Input a number and print

x=5
print(x)

5

In [9]:
# Q2: Input a number 1451.1545 into the variable and output only two decimal values

x=1451.1545
y=round(x,2)
print(y)

1451.15

In [10]:
# Q3: Take two strings and an integer . Print a single string

x="mahfujul"
y="Karim"
z=int(735)
m=x+y+str(z)
print(m)

mahfujulKarim735