In [ ]:
import numpy as np

In [ ]:
name = ['Alice', 'Bob', 'Cathy', 'Doug']
age = [25, 45, 37, 19]
weight = [55.0, 85.5, 68.0, 61.5]


data = np.dtype({'names':('name', 'age', 'weight'),
                          'formats':('U10', 'i4', 'f8')})

data = np.zeros(4, dtype=data)

data['name'] = name
data['age'] = age
data['weight'] = weight
print(data)

for ele in data:
  print(ele)
  print(ele['name'],ele['age'],ele['weight'])

[('Alice', 25, 55. ) ('Bob', 45, 85.5) ('Cathy', 37, 68. )
 ('Doug', 19, 61.5)]
('Alice', 25, 55.)
Alice 25 55.0
('Bob', 45, 85.5)
Bob 45 85.5
('Cathy', 37, 68.)
Cathy 37 68.0
('Doug', 19, 61.5)
Doug 19 61.5

In [ ]:
coord_dtype = np.dtype([('latitude', np.float64), ('longitude', np.float64)])
coords = np.array([(37.7749, -122.4194), (40.7128, -74.0060), (51.5074, -0.1278)], dtype=coord_dtype)

print(coords['latitude'])

[37.7749 40.7128 51.5074]